.wrap {
	width:30%;
	margin:auto;
	margin-top:10%;
}

.container {
	width:90%;
}


#screen {
	height:34px;
	border:1px solid #e3e3e3;
	border-radius:5px;
	text-align:right;
	line-height:34px;
	padding-right:7px;
}

.col-md-3 {
	padding:3px;
}

.col-md-9 {
	padding:3px;
}
